<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Khory Register</title>
    <style>
          button {
            background-color: #04AA6D;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
          }

          button:hover {
            opacity: 0.8;
          }
      </style>
</head>
<body>
    <h2>Welcome to Khory Registration System</h2>
    <button>Login</button>
    <button>Sign Up</button>
</body>
</html>